@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
  }
  
  .nav-bar {
    display: flex;
  }
  